img{
	height:2150px; 
	width:2150px;
	padding-left: 35%;
	padding-top: 844px;
}

button{
	padding: 25px;
	margin-left: 50%;
	margin-top: .1%;
}

header a{
  color: black;
  background:rgba(0,0,0,0.1); 
  display:inline-block; 
  padding-top: 20px; 
  height:100px;
  line-height:60px; 
  text-align:center;
  font-family: 'Roboto Slab', serif; 
  text-decoration:none;
  text-transform:uppercase; 
  letter-spacing:2px; 
  font-weight:900;
  font-size: 60px;
}
